# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Popular languages used by Data Scientists
- Commonly used libraries
- Data Science tools and open source deveolpment environments
- Become familiar with tool categories (Open Source, Cloud-based, and Commercial)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Sci-Kit

| Data Science Tools     | 
| ----------- |
| Hadoop        | 
| Apache Spark         | 
|  R Studio       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
x = 200 #minutes
y = x/60
print(y, 'hours')

3.3333333333333335 hours

## Author
Andres V.